package main

templ Header(email string, success bool) {
	<header class="jsx-1ERt5d">
		<nav class="jsx-1ERt5d buttons">
			@Button("mailto:" + email) {
				Contact
			}
			@Button("/faq") {
				FAQ
			}
			@SlackButton(success)
		</nav>
	</header>
}
