package main

templ Main(Component) {
	<div class="jsx-1ays6u">
		<span class="jsx-1ays6u">test</span>
		@Component() {
			<span class="jsx-1ays6u">inner 1</span>
			<span class="jsx-1ays6u">inner 2</span>
		}
	</div>
}
