package main

templ SimpleFragment() {
	<div class="jsx-2ZS1pL">
		<p
			class="jsx-2ZS1pL one"
			if true {
				class="jsx-2ZS1pL two"
			} else {
				class="jsx-2ZS1pL three"
			}
		>1</p>
		<p
			if true {
				class="jsx-2ZS1pL two"
			} else {
				class="jsx-2ZS1pL three"
			}
		>2</p>
		<p
			if true {
				class="jsx-2ZS1pL two"
			} else {
				class="jsx-2ZS1pL"
			}
		>3</p>
		<p
			if true {
				test="two"
				class="jsx-2ZS1pL"
			} else {
				class="jsx-2ZS1pL two"
			}
		>4</p>
	</div>
}
