.comment.css-b142c { padding: 10px }
.header.css-b142c { color: gray; font-size: 75% }
.fold.css-b142c { text-decoration: none; color: inherit }
.body.css-b142c { padding-left: 13px; font-size: 14px }
.body.css-b142c a { text-decoration: none; color: inherit }
.body.css-b142c a:hover { text-decoration: underline }
