package main

templ Main(Element templ.Component) {
	<div class="jsx-URhj8">
		<div data-test="test" class="jsx-URhj8"></div>
		<div class="jsx-URhj8"></div>
		<div class="jsx-URhj8 test"></div>
		<div class={ "jsx-URhj8 " + "test" }></div>
		<div class={ "jsx-URhj8 " + `test` }></div>
		<div class={ "jsx-URhj8 " + ("test " + test) }></div>
		<div class={ "jsx-URhj8 " + "test" }></div>
		<div class={ "jsx-URhj8 " + test }></div>
		<div class={ "jsx-URhj8 " + (test + "test") }></div>
		<div class={ "jsx-URhj8 " + (test + test2("test")) }></div>
		<div class={ "jsx-URhj8 " + nil }></div>
		<div class={ "jsx-URhj8 " + false }></div>
		<div class={ "jsx-URhj8 " + "test" } data-test></div>
		<div data-test class={ "jsx-URhj8 " + "test" }></div>
		<div class={ "jsx-URhj8 " + "test" } data-test="test"></div>
		@Element()
	</div>
}
