package main

templ Test1(Component, attrs) {
	<div class="css-1ays6u">
		<span data-test="test" class="css-1ays6u">
			test
		</span>
		@Component()
	</div>
}

templ Test2() {
	<span>test</span>
}

templ Test3() {
	<div class="css-1ays6u">
		<span class="css-1ays6u">test</span>
	</div>
}

templ Render() {
	<div class="css-2XrSwF">
		<p class="css-2XrSwF">test</p>
	</div>
}
